@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    background-color: #54c3ef;


}

/* header */
.header{
    text-align: center;
    padding: 50px;
    text-shadow: 2px 4px black;
    font-family: Caveat Brush;
    color: #fad744;
    
}

.headerName{
    font-size: 62px;

}


/* content box  */

.content{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 130px;
    

}

.line {
    border-bottom: 1px solid #fad744;

    width: 97%;
    margin: 10px auto;
}





/* questions */
.questions{
    width: 700px;
    background-color: #2b3252;
    color: #fad744;
    border-radius: 5px;
    height: auto;
    padding: 10px;
    
}


/* score */
.score{
    margin: 0px 10px;
    border-radius: 5px;
    width: 100px;
    color: black;
    background-color: #ffff;
    height: auto;
   }

label {
    margin: 15px;
}


