@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.banner {
  max-width: 1200px;
  margin: 10vh auto;
  padding: 15px 0px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

/* preview side */
.preview {
  /* border: 1px solid red; */
  width: 40%;
}

.previewImage {
  width: 100%;
}

/* details side */

.details {
  margin: 0 0 0 2%;
  /* border: 1px solid red; */
  max-width: 680px;
}

.productName {
  font-size: 42px;
  font-weight: 300;
  font-size: 44px;
  letter-spacing: -2px;
}

h3 {
  margin-top: 20px;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(27, 25, 25);
}

.amount {
  color: #009688;
  font-weight: bold;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
}

.listImages {
  margin: 5px;
  width: 15%;
  height: 30%;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  /* border: 1px solid red; */
  margin-top: 3vh;
}
.productImages {
  display: flex;
  flex-wrap: wrap;
}

#addToCart {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  margin: 3vh auto;
}
#addToCart:hover {
  box-shadow: 0 2px 10px rgb(0 0 0 / 90%);
}

#i0 {
  border: 2px solid #009688;
}

@media only screen and (max-width: 691px) {
  .preview {
    /* border: 1px solid red; */
    width: 70%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
  }

  .productName {
    font-size: 25px;
  }
  .description {
    margin: 2px;
  }

  h3 {
    margin: 2px;
  }

  #addToCart {
    margin: 5vh auto;
  }
}


/* cart */
.cartHolder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.productsInCart{
  /* margin: 25px;
  box-shadow: 0px 2px 3px gray;
  max-width: 650px;
  /* border: 1px solid red; */
  /* height: 5px;
  padding: 10px; */ 
  /*  */
  width: 50%;
  height: fit-content;
  margin-top: 48px;
  margin-left: 3%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
  padding: 16px;
}
.cartProductImage{
  height: 50px;
}

.info{
  display: flex;
  flex-direction: column;
  padding: 10px;
  /*  */
  
}

.totalAmountHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-top: 48px;
  margin-left: 3%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
  padding: 16px;
}

#finalAmount{
  font-size: 22px;
  font-weight: 600;
  color: #068074;
}

#order-placed-section{
  display: none;
  margin: 150px auto;
  text-align: center;

}