
      * {
        margin: 0px;
        padding: 0px;
      }
      header {
        position: fixed;
        top: 0;
        width: 100%;
      }
      .head-container {
        display: flex;
        padding: 15px 48px;
        background-color: #fff;
        border-bottom: 1px solid rgb(236, 228, 228);
        /* position: fixed; */
        margin-bottom: 0px;
      }
      .logo {
        font-family: "Raleway", sans-serif;
        font-size: 34px;
        font-weight: 900;
        color: #0084ff;
        cursor: pointer;
      }
      .logo-caption {
        margin: 0px;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
      }

      .headinfo {
        font-family: Raleway, sans-serif;
        padding-top: 12px;
        width: 380px;
        color: rgba(0, 0, 0, 0.6);
        cursor: wait;
      }
      .dropdown {
        margin-left: 80px;
        margin-right: 150px;
        padding: 24px 20px;
        font-family: Raleway, sans-serif;
        color: #172146;
      }
      #lists {
        border: 0px;
        width: 15px;
        margin-right: 200px;
      }

      .button {
        margin-left: 120px;
        justify-items: flex-end;
      }
      .gotobtn {
        border-radius: 25px;
        padding: 10px;
        background-color: #0084ff;
        border: none;
        color: #fff;
        font-family: Raleway, sans-serif;
        height: 50px;
        font-weight: 900;
        word-wrap: break-word;
      }
      .gotobtn a {
        text-decoration: none;
        color: #fff;
        font-family: Raleway, sans-serif;
        height: 50px;
        font-weight: 900;
      }
      .gotobtn:hover {
        box-shadow: 3px 0px 7px rgb(124, 121, 121),
          -3px -0px 7px rgb(124, 121, 121);
        cursor: pointer;
      }
      .filter-head {
        margin-top: 20px;
        margin-left: 10px;
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: #000;
        padding-left: 150px;
        padding-right: 150px;
      }
      .catagory-filter {
        display: flex;

        font-size: 16px;
        padding-left: 150px;
        padding-right: 150px;
      }
      .filterOption {
        padding: 6px 14px;
        width: auto;
        color: #0084ff;
        border-radius: 15px;
        border: 1px solid #0084ff;
        margin: 5px;
        cursor: pointer;
        font-family: Raleway, sans-serif;
        font-size: 10px;
        font-weight: 500;
      }
      .filtercat {
        margin-left: 10px;
        font-family: Raleway, sans-serif;
      }
      #filtericon {
        margin-left: 160px;
        color: #0096ff;
        margin-bottom: 20px;
        margin-top: 15px;
        cursor: pointer;
      }
      #all {
        background-color: #0096ff;
        color: #fff;
      }
      .filterOption:hover {
        background-color: #0096ff;
        color: #fff;
      }

      .container-cards {
        padding-left: 150px;
        padding-right: 150px;
      }
      .carditem {
        width: 29%;
        height: 460px;
        display: inline-block;
        background-color: aliceblue;
        box-shadow: 1px 1px 8px grey;
        border-radius: 10px;
        margin: 15px;
        overflow: hidden;
        cursor: pointer;
      }

      .image img {
        width: 100%;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      .auther {
        font-size: 0.9em;
        font-weight: 500;
        line-height: 2;
        color: #0096ff;
        font-family: "Raleway", sans-serif;
      }
      .articledate {
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        font-weight: 300;
      }
      .cardtextcontent p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.43;
        color: rgba(0, 0, 0, 0.6);
        margin: 4px 0;
        padding: 2px 24px;
        font-family: Raleway;
      }
      .title {
        padding: 2px 24px;
        font-family: Raleway;
      }
      .subtitle {
        padding: 2px 24px;
      }
      footer {
        background-color: #172146;
        padding: 10px 6%;
        color: #fff;
        font-family: Raleway, sans-serif;
      }
      .footer1 {
        margin-left: 55px;
        justify-content: center;
        margin-right: 18%;
      }
      .footer2 a {
        justify-content: right;
        text-decoration: none;
        color: #fff;
        margin-left: 4%;
      }
      body {
        background-color: #fbfcfd;
      }
      header {
        background-color: #fbfcfd;
        height: 10px;
      }
      .footcontainer{
        display: flex;
        margin: 15px;
        
        
      }
      .footcontent{
        width: 300px;
        margin: 25px;
      }
      .foothead{
        color: darkgray;
        font-weight: 600;
        margin-bottom : 15px;
      }
      .footcontent a {
        text-decoration: none;
        font-family: Raleway, sans-serif;
        color: #fff;
        
      }
    